html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: normal 16px sans-serif;
  height: 100%;
  margin: 0;
}

#tabsDiv {
  background: gray;
  color: white;
  padding: 1ex;
}

#databaseViewDiv {
  display: none;
  flex: 1;

  /* Allow the `itemsDiv` pane to scroll by itself */
  overflow: hidden;
}

#pageViewDiv {
  display: none;
  flex: 1;
  flex-direction: column;
}

#graphViewDiv {
  display: none;
  flex: 1;
}

.selectedView {
  display: flex !important /* Beat the specificity of the ID selector */;
}

#tablesDiv {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  position: sticky;
  top: 0;
}

#tablesDiv span {
  background: url('icon-database.png') 4px center no-repeat;
  padding: 1ex 1ex 1ex calc(4px + 16px + 4px);
}

#tablesDiv .item {
  background: url('icon-table.png') 24px center no-repeat;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 1ex 1ex 1ex calc(4px + 20px + 16px + 4px);
  text-align: left;
}

#tablesDiv .item.selected {
  background-color: #fff;
  font-weight: bold;
}

#itemsDiv {
  flex: 1;
  overflow: auto;
  padding: 1em;
}

#itemsDiv table {
  border: 1px solid #f1f1f1;
  overflow-wrap: break-word;
  table-layout: fixed;
  width: 100%;
}

#itemsDiv table th {
  background: #eee;
  padding: 1ex;
}

#titleDiv {
  background: white;
  overflow: hidden;
  position: sticky;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

#cellsDiv span {
  border: 1px solid transparent;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 35px;
}

/* The colors are from https://www.schemecolor.com/rainbow-pastels-color-scheme.php */

#cellsDiv span.C7CEEA {
  background: #C7CEEA;
}

#cellsDiv span.B5EAD7 {
  background: #B5EAD7;
}

#cellsDiv span.E2F0CB {
  background: #E2F0CB;
}

#cellsDiv span.FFDAC1 {
  background: #FFDAC1;
}

#cellsDiv span.FFB7B2 {
  background: #FFB7B2;
}

#cellsDiv span.FF9AA2 {
  background: #FF9AA2;
}
