#titleDiv {
  background: white;
  overflow: hidden;
  position: sticky;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

#cellsDiv span {
  border: 1px solid transparent;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 30px;
}

/* The colors are from https://www.schemecolor.com/rainbow-pastels-color-scheme.php */

#cellsDiv span.C7CEEA {
  background: #C7CEEA;
}

#cellsDiv span.B5EAD7 {
  background: #B5EAD7;
}

#cellsDiv span.E2F0CB {
  background: #E2F0CB;
}

#cellsDiv span.FFDAC1 {
  background: #FFDAC1;
}

#cellsDiv span.FFB7B2 {
  background: #FFB7B2;
}

#cellsDiv span.FF9AA2 {
  background: #FF9AA2;
}
